/* Global Styles */

.navbar {
    padding-top: 1.5rem;
    padding-bottom: .8rem;
}

footer {
    position:absolute;
left:0;
bottom:0;
right:0;
<<<<<<< HEAD
}

.footer {
    background-color: none;
=======

>>>>>>> f92752e6e0ebcb51bdd45e3f549071c87c296faf
}